node_modules/
dist/
.env
.env.*
.DS_Store
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/pubspec.lock
**/.idea/
**/.vscode/
coverage/
apps/backend/prisma/dev.db*
apps/backend/prisma/*.sqlite
apps/backend/prisma/*.log
apps/backend/uploads/

